[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
token_part1 = "XuDbKhu9roJchNMEXBv8Tk8aCmXvx7FBx52ucv5h2zY"
token_part2 = "BBJLBwZFUcn2uLP3PfHQVS1ziBLBWSz6uwjYE7NcpNv1"
token_part3 = "9Py1ZLhBLSw2UYJqB2EQMAnNC8z3RWaNfB4Z2Kh2UCrn"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
